PORT="3003"
WEB_CLIENT="http://localhost:3000"
ADMIN_CLIENT="http://localhost:3001"
AUTH_SERVICE="http://localhost:3002"
ORDER_SERVICE="http://localhost:3004"
PAYMENT_SERVICE="http://localhost:3005"
PRODUCT_SERVICE="http://localhost:3006"