PORT="3006"
WEB_CLIENT="http://localhost:3000"
ADMIN_CLIENT="http://localhost:3001"
AUTH_CLIENT="http://localhost:3002"
EMAIL_CLIENT="http://localhost:3003"
ORDER_SERVICE="http://localhost:3004"
PAYMENT_SERVICE="http://localhost:3005"