PORT="3006"
WEB_CLIENT="https://pizza-shop-client.vercel.app"
ADMIN_CLIENT="https://pizza-shop-admin-client.vercel.app"
AUTH_CLIENT="http://localhost:3002"
EMAIL_CLIENT="http://localhost:3003"
ORDER_SERVICE="http://localhost:3004"
PAYMENT_SERVICE="http://localhost:3005"
DATABASE_URL="postgres://postgres:postgres@localhost:5432/pizza_shop_products"
AUTH_SERVICE_INTERNAL_URL="https://pizza-shop-auth-service.vercel.app"